footer.deck-glance-footer {
  position: relative;
  margin-right: $card-padding * -1;
  margin-bottom: $card-padding * -1;
  margin-left: $card-padding * -1;
  padding: $card-padding;
  @include clearfix();

  border-top: 1px solid rgba(160,160,160,.2);
  background-color: color("grey", "darken-3");
  color: white;

  .hero {
    margin: 0;
    font-size: 28px;
    font-weight: 300;

    &.activator {
      cursor: pointer;
    }
  }

  .deck-glance-footer-hero-info {
    display: block;
    @include clearfix;
  }

  .deck-glance-footer-stats {
    float: right;

    .tags {
      display: block;

      .tag {
        float: left;
        margin-right: 2px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
