header.deck-glance-header {
  @include clearfix;

  .deck-glance-header-info {
    display: block;

    .title {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      &.activator {
        cursor: pointer;
      }
    }

    .byline {
      .author,
      .posted-st {
        display: inline;
      }
    }
  }

  .deck-glance-header-stats {
    display: block;
    float: left;
    width: 72px;

    .likes {
      font-size: 1.3rem;
    }

    .views,
    .comments {
      font-size: 0.9em;
      float: left;
      padding: 2px;
    }
  }
}
