header.deck-glance-header {
  .deck-glance-header-info {
    display: block;
    border-bottom: 1px solid color("grey", "lighten-1");

    .title {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      &.activator {
        cursor: pointer;
      }
    }

    .byline {
      .author,
      .posted-st {
        display: inline;
      }
    }

    .timestamp {
      white-space: nowrap;
      font-size: 0.9rem;
    }
  }

  .deck-glance-header-stats {
    display: block;
    float: left;
    width: auto;
    margin-right: $card-padding / 2;
    text-align: left;

    .likes {
      font-size: 1.3rem;

      .material-icons {
        font-size: inherit;
        color: color("green", "darken-1");
      }
    }

    .views,
    .comments {
      font-size: 0.9em;
      float: left;
      clear: left;
      padding: 2px;
    }
  }
}
