.deck-glance-charts {
  $distribution-chart-size: 50px;
  $deck-glance-footer-height: 71px;
  @include clearfix;

  .distribution-chart {
    position: absolute;

    right: $card-padding;
    bottom: ($deck-glance-footer-height - $distribution-chart-size) / 2;
  }
}
