.card-picker-cards-list {
  @include clearfix;
  // Temporary solution to huge card list. Disabled for easy popover support.
  // height: 90vh;
  // overflow: auto;
  // margin-bottom: -$card-padding;
  overflow: visible;

  .card-picker-cards-list-item {
    display: block;
    float: left;
    margin: 0 $card-padding $card-padding 0;
  }
}
