.card-picker-card {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;

  &:hover {
    background-color: rgba(#bbb, 0.2);
  }


  .card-picker-card-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .card-picker-card-name {
    display: block;
    text-align: center;
    font-size: 15px;
    width: 100%;
  }

  .card-picker-card-cost {
    position: absolute;
    top: 2px;
    left: 4px;
  }
}
