.card-picker-cards-list {
  @include clearfix;

  @media #{$small-and-up} {
    overflow: visible;
  }

  @media #{$extra-small-only} {
    // Temporary solution to huge card list. Disabled for easy popover support.
    height: 90vh;
    overflow: auto;
    margin-bottom: -$card-padding;
  }

  .card-picker-cards-list-item {
    display: block;
    float: left;
    margin: 0 ($card-padding / 2) ($card-padding / 2) 0;
  }
}
