.card-picker-card {
  display: block;
  position: relative;

  .card-picker-card-inner {
    > img {
      width: 175px;
      height: 233px;
      @include transition(all 80ms ease-out);
      @include grayscale(35%);
      -webkit-user-drag: none;
       -khtml-user-drag: none;
         -moz-user-drag: none;
           -o-user-drag: none;
              user-drag: none;

      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
           -o-user-select: none;
              user-select: none;
    }
  }

  &:hover {
    .card-picker-card-inner {
      > img {
        @include grayscale(0%);
      }
    }
  }

  .card-picker-card-name {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
  }
}
