@charset "UTF-8";

/* agora */
@font-face {
  font-family: "agora";
  src:url("https://cdn.myfontastic.com/KmBd4vPbXjtRrD83U85ipL/fonts/1458881911.eot");
  src:url("https://cdn.myfontastic.com/KmBd4vPbXjtRrD83U85ipL/fonts/1458881911.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.myfontastic.com/KmBd4vPbXjtRrD83U85ipL/fonts/1458881911.woff") format("woff"),
    url("https://cdn.myfontastic.com/KmBd4vPbXjtRrD83U85ipL/fonts/1458881911.ttf") format("truetype"),
    url("https://cdn.myfontastic.com/KmBd4vPbXjtRrD83U85ipL/fonts/1458881911.svg#1458881911") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "agora" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="agora-"]:before,
[class*=" agora-"]:before {
  font-family: "agora" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.agora-attackspeed:before {
  content: "\61";
}
.agora-cooldownreduction:before {
  content: "\62";
}
.agora-critbonus:before {
  content: "\63";
}
.agora-critchance:before {
  content: "\64";
}
.agora-damagebonus:before {
  content: "\65";
}
.agora-energyarmor:before {
  content: "\66";
}
.agora-energydamage:before {
  content: "\67";
}
.agora-energypen:before {
  content: "\68";
}
.agora-paragon:before {
  content: "\69";
}
.agora-maxmana:before {
  content: "\6a";
}
.agora-physicalarmor:before {
  content: "\6b";
}
.agora-physicaldamage:before {
  content: "\6c";
}
.agora-physicalpen:before {
  content: "\6d";
}
.agora-harvesterplacementtime:before {
  content: "\6e";
}
.agora-lifesteal:before {
  content: "\70";
}
.agora-manaregen:before {
  content: "\71";
}
.agora-maxhealth:before {
  content: "\72";
}
.agora-healthregen:before {
  content: "\6f";
}
.agora-maxmovementspeed:before {
  content: "\73";
}
.agora-card:before {
  content: "\74";
}
