.jumbotron {
  display: block;
  color: white;
  // background-color: $card-bg-color; # default
  background-color: color("grey", "darken-3");

  @include clearfix;

  position: relative;
  padding: $card-padding;
  $jumbotron-padding-v: $card-padding * 4;
  padding-bottom: $jumbotron-padding-v;
  padding-top: $jumbotron-padding-v;
  margin: 0 0 $element-bottom-margin * 2 0;
  .border-radius: 2px;
  @extend .z-depth-1;

  h1 {
    margin-top: 0;
  }

  .btn-large {
    margin-bottom: 0;
  }
}

.parallax-container {
  .jumbotron {
    background-color: transparent;
    @include transition(none);
    @extend .z-depth-0;

    $jumbotron-padding-v: $card-padding * 8;
    padding-bottom: $jumbotron-padding-v;
    padding-top: $jumbotron-padding-v;
    .border-radius: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      text-shadow: 1px 1px 0 black;
    }
  }
}

// TODO: move to another file.
$parallax-height: 500px;
$form-backdrop-parallax-height: 325px;

.parallax-container {
  &.full-page,
  &.backdrop,
  &.form-backdrop-parallax {
    position: absolute;
    top: $navbar-height-mobile; // TODO: $navbar-height & $navbar-height-mobile.
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: $parallax-height;
  }

  &.full-page {
    bottom: 0;
    height: auto;
  }

  &.form-backdrop-parallax {
    height: $form-backdrop-parallax-height;
  }
}


// TODO: move to another file.
.parallax-container > .container,
.parallax-overlap {
  color: white;
}
