$parallax-height: 500px;
$form-backdrop-parallax-height: 325px;

.parallax-container {
  &.full-page,
  &.backdrop,
  &.form-backdrop-parallax {
    position: absolute;
    top: $navbar-height-mobile; // TODO: $navbar-height & $navbar-height-mobile.
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: $parallax-height;
  }

  &.full-page {
    bottom: 0;
    height: auto;
    z-index: -1;
  }

  &.form-backdrop-parallax {
    height: $form-backdrop-parallax-height;
  }

  &.height-of-content {
    height: auto;
  }
}

.parallax-container > .container,
.parallax-overlap {
  color: white;
}

.parallax-overlap-inputs {
  .input-field {
    input,
    textarea.materialize-textarea,
    label {
      @include text-shadow(1px 1px 0 black);
      color: white;
    }

    input,
    textarea.materialize-textarea {
      border-bottom-color: white;
    }

    input {
      text-align: center;
      font-size: 3.0rem;
    }

    textarea.materialize-textarea {
      text-align: left;
      font-size: 1.5rem;
    }
  }
}

.fixed-background-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  > .fixed-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: top center;
  }
}
