<%= link_to deck_upvote_path(deck), method: :post, remote: true do %>
  <i class="material-icons">arrow_drop_up</i>
<% end %>
<div class="likes">
  <%= @deck.cached_votes_score < 0 ? "" : "+" %><%= @deck.cached_votes_score %>
</div>
<%= link_to deck_downvote_path(deck), method: :post, remote: true do %>
  <i class="material-icons">arrow_drop_down</i>
<% end %>
<div class="views">152 eyes</div>
<div class="comments">14 chats</div>
