<article class="deck-glance">
  <header class="deck-glance-header">
    <div class="deck-glance-header-stats">
      <div class="deck-glance-header-stats-content">
        <div class="likes">+25</div>
        <div class="views">152 eyes</div>
        <div class="comments">14 chats</div>
      </div>
    </div>
    <div class="deck-glance-header-info">
      <h3 class="title truncate"><%= deck.name %></h3>
      <div class="byline">
        by <address class="author truncate">animatedgif</address> -
        <span class="posted-at"><%= timeago_tag(deck.created_at, :nojs => true, :limit => 14.days.ago) %></span>
      </div>
    </div>
  </header>
  <div class="deck-glance-content">
    <div class="deck-glance-charts">
      <div class="mana-curve-chart">
        I'm a <br/> chart
      </div>
      <div class="distribution-chart">
        I'm a <br/> chart
      </div>
    </div>
  </div>
  <footer class="deck-glance-footer">
    <div class="deck-glance-footer-hero-info">
      <h2 class="hero">Gruxx</h2>
      <h3 class="one-liner">Mid - Tank - Archmagus</h3>
    </div>
    <div class="deck-glance-footer-stats">
      <div class="up-affinity">green</div>
      <div class="down-affinity">white</div>
    </div>
  </footer>
</article>
