<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h4>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= react_component("Controllers.DeckEditor",
        cards: Card.all,
        selectedCardsIds: @deck.cards.pluck(:id),
        name: @deck.name) %>

<% end %>
