<div class="container deck-glance-container">
  <h1>Choose a Hero for your New Deck</h1>

  <% @heroes.each do |hero| %>
    <p><%= link_to hero[:name], new_deck_with_hero_path(hero[:id]) %></p>
  <% end %>

  <hr/>
  <%= link_to 'Back', :back %>
</div>
