<div class="parallax-container full-page">
  <div class="parallax">
    <%= image_tag @deck.hero.banner.url %>
  </div>
</div>

<%= render 'form', action: "Edit" %>

<div class="container">
  <hr/>
  <%= link_to 'Show', @deck %> |
  <%= link_to 'Back', decks_path %>
</div>
