<div id="hot-decks" class="container deck-glance-container">
  <h2><i class="material-icons medium left">trending_up</i> Hot Decks</h2>

  <%= react_component("Controllers.DeckGlances",
        :heroes => prepare_heroes_for_deck_glances(Hero.all),
        :decks => prepare_decks_for_deck_glances(@decks)) %>

  <%= link_to 'Add a deck', new_deck_path %>
</div>
