<div class="container">
<h1><%= @deck.name %></h1>

  <%= react_component("Controllers.DeckShow",
        name: @deck.name,
        cards: @deck.cards) %>

  <hr/>
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
</div>
