.deck-list-card {
  position: relative;

  .card-cost {
    margin-right: 0.1em;
  }

  .card-name {
  }

  .card-count {
    float: right;
  }

  .card-count-nobs {
    position: absolute;
    right: 2em;

    .decrement,
    .increment {
      .material-icons {
        font-size: 1em;
        vertical-align: middle;
      }
    }
  }
}
