.deck-list-card {
  .card-cost {
    margin-right: 0.1em;
  }

  .card-name {
  }

  .card-count-wrapper {
    float: right;

    .card-count-nobs {
      margin-right: 0.1em;

      .decrement,
      .increment {
        .material-icons {
          font-size: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}
